{% extends 'layout.html' %}

{% block title %}
    <title>Modèles de réservoirs | HydroBus</title>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/modeles_bus.css') }}" >
{% endblock %}

{% block body %}
<main>
    <div class="row_flex page_formatter">
        <div class="big_docker models_list">
            <h1>Liste des réservoirs par bus</h1>

            <div class=" list_container">
                <div class="list">
                    <details class="card drop_shadow">
                        <summary>
                            <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="svg">
                                    <path id="secondary" d="M26.8889 9L14.4444 15.2222L2 9L14.4444 2L26.8889 9Z" fill="#215D91"></path>
                                    <path id="primary" d="M26.8889 9L14.4444 15.2222L2 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_2" d="M14.4444 30L2 23V9L14.4444 2L26.8889 9V23L14.4444 30ZM14.4444 30V15.2222" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_3" d="M20.6666 19.1111V12.1111L14.4443 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <h3>Bus n°1</h3>
                        </summary>
                        <div class="list">
                            <details class="card drop_shadow">
                                <summary>
                                    <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="svg">
                                            <path id="secondary" d="M26.8889 9L14.4444 15.2222L2 9L14.4444 2L26.8889 9Z" fill="#215D91"></path>
                                            <path id="primary" d="M26.8889 9L14.4444 15.2222L2 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path id="primary_2" d="M14.4444 30L2 23V9L14.4444 2L26.8889 9V23L14.4444 30ZM14.4444 30V15.2222" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path id="primary_3" d="M20.6666 19.1111V12.1111L14.4443 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <h3>Réservoir n°1</h3>
                                </summary>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </details>
                        <details class="card drop_shadow">
                        <summary>
                            <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="svg">
                                    <path id="secondary" d="M26.8889 9L14.4444 15.2222L2 9L14.4444 2L26.8889 9Z" fill="#215D91"></path>
                                    <path id="primary" d="M26.8889 9L14.4444 15.2222L2 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_2" d="M14.4444 30L2 23V9L14.4444 2L26.8889 9V23L14.4444 30ZM14.4444 30V15.2222" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_3" d="M20.6666 19.1111V12.1111L14.4443 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <h3>Réservoir n°2</h3>
                        </summary>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </details>
                        <details class="card drop_shadow">
                        <summary>
                            <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="svg">
                                    <path id="secondary" d="M26.8889 9L14.4444 15.2222L2 9L14.4444 2L26.8889 9Z" fill="#215D91"></path>
                                    <path id="primary" d="M26.8889 9L14.4444 15.2222L2 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_2" d="M14.4444 30L2 23V9L14.4444 2L26.8889 9V23L14.4444 30ZM14.4444 30V15.2222" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_3" d="M20.6666 19.1111V12.1111L14.4443 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <h3>Réservoir n°3</h3>
                        </summary>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </details>
                        <details class="card drop_shadow">
                        <summary>
                            <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="svg">
                                    <path id="secondary" d="M26.8889 9L14.4444 15.2222L2 9L14.4444 2L26.8889 9Z" fill="#215D91"></path>
                                    <path id="primary" d="M26.8889 9L14.4444 15.2222L2 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_2" d="M14.4444 30L2 23V9L14.4444 2L26.8889 9V23L14.4444 30ZM14.4444 30V15.2222" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_3" d="M20.6666 19.1111V12.1111L14.4443 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <h3>Réservoir n°4</h3>
                        </summary>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </details>
                    </details>
                    <details class="card drop_shadow">
                        <summary>
                            <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="svg">
                                    <path id="secondary" d="M26.8889 9L14.4444 15.2222L2 9L14.4444 2L26.8889 9Z" fill="#215D91"></path>
                                    <path id="primary" d="M26.8889 9L14.4444 15.2222L2 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_2" d="M14.4444 30L2 23V9L14.4444 2L26.8889 9V23L14.4444 30ZM14.4444 30V15.2222" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_3" d="M20.6666 19.1111V12.1111L14.4443 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <h3>Bus n°2</h3>
                        </summary>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </details>
                </div>
                <div class="list">
                    <details class="card drop_shadow">
                        <summary>
                            <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="svg">
                                    <path id="secondary" d="M26.8889 9L14.4444 15.2222L2 9L14.4444 2L26.8889 9Z" fill="#215D91"></path>
                                    <path id="primary" d="M26.8889 9L14.4444 15.2222L2 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_2" d="M14.4444 30L2 23V9L14.4444 2L26.8889 9V23L14.4444 30ZM14.4444 30V15.2222" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_3" d="M20.6666 19.1111V12.1111L14.4443 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <h3>Bus n°3</h3>
                        </summary>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </details>
                    <details class="card drop_shadow">
                        <summary>
                            <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="svg">
                                    <path id="secondary" d="M26.8889 9L14.4444 15.2222L2 9L14.4444 2L26.8889 9Z" fill="#215D91"></path>
                                    <path id="primary" d="M26.8889 9L14.4444 15.2222L2 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_2" d="M14.4444 30L2 23V9L14.4444 2L26.8889 9V23L14.4444 30ZM14.4444 30V15.2222" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_3" d="M20.6666 19.1111V12.1111L14.4443 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <h3>Bus n°4</h3>
                        </summary>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </details>
                </div>
            </div>
        </div>
        <div class="big_docker no_border no_padding width_100">
            <div class="column_flex width_100">
                <div class="big_docker full_width child row_flex no_border no_margin_padding">
                    <div class="big_docker full_width child auto_horizontal_margin no_left_margin fix_height">
                            <h2>Ajouter un réservoir</h2>
                            <form>
                                <div class="column_flex">
                                    <div class="row_flex">
                                        <div class="column_flex">
                                        <div class="field row_flex">
                                            <label for="id_bus">Id du bus</label>
                                            <input type="text" id="id_bus" name="id_bus">
                                        </div>
                                        <div class="field row_flex">
                                            <label for="date_service">Date de mise en service</label>
                                            <input type="date" id="date_service" name="date_service">
                                        </div>
                                        <div class="field row_flex">
                                            <label for="date_retrait">Date de retrait du service</label>
                                            <input type="date" id="date_retrait" name="date_retrait">
                                        </div>
                                        <div class="field row_flex">
                                            <label for="taille_reservoir">Taille réservoir</label>
                                            <input type="number" id="taille_reservoir" name="taille_reservoir">
                                        </div>
                                        <div class="field row_flex">
                                            <label for="modele_reservoir">Modèle réservoir</label>
                                            <input type="text" id="modele_reservoir" name="modele_reservoir">
                                        </div>
                                    </div>
                                    <div class="row_flex">
                                        <div class="column_flex">
                                            <div class="field row_flex">
                                                <label for="position_reservoir">Position réservoir</label>
                                                <input type="text" id="position_reservoir" name="position_reservoir">
                                            </div>
                                            <div class="field row_flex">
                                                <label for="cycle_reel">Nombre de cycle réel</label>
                                                <input type="date" id="cycle_reel" name="cycle_reel">
                                            </div>

                                            <button onclick="console.log('nouveau plein')">Créer</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="big_docker full_width child">
                    <h2>Résumé</h2>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

