{% extends 'layout.html' %}

{% block title %}
    <title>Modèles de bus | HydroBus</title>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/modeles_bus.css') }}" >
{% endblock %}

{% block body %}
<main>
    <div class="row_flex page_formatter">
        <div class="big_docker models_list width_70">
            <h1>Modèles de bus</h1>

            <div class="row_flex list_container">
                <div class="list second_column">
                    <details class="card drop_shadow">
                        <summary>
                            <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="svg">
                                    <path id="secondary" d="M26.8889 9L14.4444 15.2222L2 9L14.4444 2L26.8889 9Z" fill="#215D91"></path>
                                    <path id="primary" d="M26.8889 9L14.4444 15.2222L2 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_2" d="M14.4444 30L2 23V9L14.4444 2L26.8889 9V23L14.4444 30ZM14.4444 30V15.2222" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_3" d="M20.6666 19.1111V12.1111L14.4443 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <h3>Modèle de bus n°3</h3>
                        </summary>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </details>
                    <details class="card drop_shadow">
                        <summary>
                            <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="svg">
                                    <path id="secondary" d="M26.8889 9L14.4444 15.2222L2 9L14.4444 2L26.8889 9Z" fill="#215D91"></path>
                                    <path id="primary" d="M26.8889 9L14.4444 15.2222L2 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_2" d="M14.4444 30L2 23V9L14.4444 2L26.8889 9V23L14.4444 30ZM14.4444 30V15.2222" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_3" d="M20.6666 19.1111V12.1111L14.4443 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <h3>Modèle de bus n°2</h3>
                        </summary>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </details>
                </div>
                <div class="list second_column">
                    <details class="card drop_shadow">
                        <summary>
                            <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="svg">
                                    <path id="secondary" d="M26.8889 9L14.4444 15.2222L2 9L14.4444 2L26.8889 9Z" fill="#215D91"></path>
                                    <path id="primary" d="M26.8889 9L14.4444 15.2222L2 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_2" d="M14.4444 30L2 23V9L14.4444 2L26.8889 9V23L14.4444 30ZM14.4444 30V15.2222" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_3" d="M20.6666 19.1111V12.1111L14.4443 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <h3>Modèle de bus n°3</h3>
                        </summary>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </details>
                    <details class="card drop_shadow">
                        <summary>
                            <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="svg">
                                    <path id="secondary" d="M26.8889 9L14.4444 15.2222L2 9L14.4444 2L26.8889 9Z" fill="#215D91"></path>
                                    <path id="primary" d="M26.8889 9L14.4444 15.2222L2 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_2" d="M14.4444 30L2 23V9L14.4444 2L26.8889 9V23L14.4444 30ZM14.4444 30V15.2222" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path id="primary_3" d="M20.6666 19.1111V12.1111L14.4443 9" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <h3>Modèle de bus n°2</h3>
                        </summary>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </details>
                </div>
            </div>
        </div>
        <div class="big_docker no_border no_padding width_30">
            <div class="column_flex width_100 scroll_y">
                <div class="big_docker full_width child">
                    <h2>Enregistrer un nouveau bus</h2>

                    <!-- TODO Ajouter les champs 'action' et 'method' -->
                    <form class="spaced">

                        <div class="field">
                            <label for="nom_modele">Nom du modèle de bus</label>
                            <input type="text" id="nom_modele" name="nom_modele" required>
                        </div>
                        <div class="field">
                            <label for="nb_places">Nombre de places</label>
                            <input type="number" id="nb_places" name="nb_places" required>
                        </div>

                        <button>Enregistrer le modèle</button>
                    </form>
                </div>
                <div class="big_docker full_width child">
                    <h2>Flottes de bus</h2>

                    <div class="content_box">
                        <p><strong>Nombre de flottes:</strong> 4</p>

                        <a class="button">Naviguer vers les flottes et bus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
