<nav>
    <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="logo hydrobus belfortain">
    <div class="buttons">
            <ul>
                <li class="menu-deroulant">
                    <a href="#" class="nametag">Contrôles</a>
                    <ul class="sous-menu">
                        <li><a href="#">Voir les contrôles</a></li>
                            <li><a href="#">Enregistrer un nouveau contrôle</a></li>
                    </ul>
                </li>
                <li class="menu-deroulant">
                    <a href="#" class="nametag">Gestion des réservoirs</a>
                    <ul class="sous-menu">
                        <li><a href="#">Voir les réservoirs</a></li>
                            <li><a href="#">Enregistrer un nouveau réservoir</a></li>
                            <li><a href="#">Voir les modèles de réservoir</a></li>
                            <li><a href="#">Enregistrer un nouveau modèle de réservoir</a></li>
                    </ul>
                </li>
                <li class="menu-deroulant">
                    <a href="#" class="nametag">Gestion des bus</a>
                    <ul class="sous-menu content-bus">
                        <li><a href="/flottes_bus/show">Lister les flottes et bus</a></li>
                        <li><a href="#">Enregistrer une nouvelle flotte</a></li>
                        <li><a href="#">Enregistrer un nouveau bus</a></li>
                        <li><a href="#">Lister les modèles de bus</a></li>
                        <li><a href="#">Enregistrer un nouveau modèle de bus</a></li>
                    </ul>
                </li>
            </ul>
    </div>

</nav>