<nav>
    <div class="logo_navbar">
        <img src="images/Logo.png" alt="logo hydrobus belfortain">
    </div>
    <section class="buttons">
            <ul>
                <li class="menu-deroulant">
                    <a href="#" class="nametag">Contrôles</a>
                    <ul class="sous-menu">
                        <div class="content-controle">
                            <li><a href="#">Voir les contrôles</a></li>
                            <li><a href="#">Enregistrer un nouveau contrôle</a></li>
                        </div>
                    </ul>
                </li>
                <li class="menu-deroulant">
                    <a href="#" class="nametag">Gestion des réservoirs</a>
                    <ul class="sous-menu">
                        <div class="content-reservoir">
                            <li><a href="#">Voir les réservoir</a></li>
                            <li><a href="#">Enregistrer un nouveau réservoir</a></li>
                            <li><a href="#">Voir les modèles de réservoir</a></li>
                            <li><a href="#">Enregistrer un nouveau modèle de réservoir</a></li>
                        </div>
                    </ul>
                </li>
                <li class="menu-deroulant">
                    <a href="#" class="nametag">Gestion des bus</a>
                    <ul class="sous-menu">
                        <div class="content-bus">
                            <li><a href="/flottes_bus/show">Lister les flottes et bus</a></li>
                            <li><a href="#">Enregistrer une nouvelle flotte</a></li>
                            <li><a href="#">Enregistrer un nouveau bus</a></li>
                            <li><a href="#">Lister les modèles de bus</a></li>
                            <li><a href="#">Enregistrer un nouveau modèle de bus</a></li>
                        </div>
                    </ul>
                </li>
            </ul>
    </section>

</nav>