.page_formatter {
    width: 100%;
}

.big_docker {
    width: calc(50% - 20px);
    margin: 10px;
}

.child:first-child {
    margin-top: 0;
}

.child:last-child {
    margin-bottom: 0;
}

.list_container {
    height: 75%;
    padding: 10px 0;
}

.models_list {
    min-height: calc(70vh - 20px);
}